.gr{
    background-color: rgb(232, 233, 235);
    padding-top: 10px;
    padding-bottom: 10px;
}
.input-group-text{
    margin-left: 10px;
}
.frm{
    margin-top: 30px;
}
.lbl{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cust-width{
    width: 10px;
}
.btn{
    margin-top: 20px;
}